body{
  padding:5%;
}
.row{
  width:100%;
  // border: 1px solid red;
}
.col{
  float:left;
  padding: 10px;
  margin:15px 0.15%;
  // border : 1px solid yellow;

}

.clearfix::after{
  clear:both;
  display:table;
  content:"";
}

.text-container{
  margin-bottom:20px;
}

.col-6{
   // @include dimension(50%,200px);
   // margin:0;
}
