@media screen and (min-width: 501px){
  .menu-icon-container, .menu-icon{
    display: none;
  }
  .top-nav{
      background: black;
      padding: 2% ;
      display: block;
      // border: 1px solid pink;

    ul{
      padding: 2% 0;
      width: 100%;
      // margin:auto;
      // border: 1px solid yellow;
      li{
        width:19%;
        text-align: center;

        background: whitesmoke;
        // border: 1px solid green;
        display: inline-block;
        margin: 0 2.5%;
        padding:1% 0;
        border-radius: 20px;
      }
        a:link{
          color: yellow;

          // margin: 30px;
          // padding:20px;
        }
        a:visited{
          color: pink;
        }

    }
  }

  .banner-container{
    background-image: url('../images/banner.jpg');
    // opacity:0.2;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    height: 600px;

  }
  .banner-text{
    font-size: 80px;
    // color:maroon;
    // opacity: 0.5; // value ranges from 0.0 to 1.0
    color:rgba(255,0,0,0.5);
    // text-align: center;
    margin-top: 20px;
    margin-left:-100px;
    // background: white;
    height: 750px;
    width: 30%;
    // margin:auto;
    display:block;
    writing-mode: vertical-rl;
  }

  //pseudo class hover
  .banner-text:hover{
    // opacity: 1.0;
  color:rgba(255,0,0,1); //default is 1 or 1.0;
  }
  .col-4{
    @include dimension(33%,auto);
    // border: 1px solid blue;
  }
  .col-6{

     // border: 1px solid red;
  }
  .logo-container{
  // border: 1px solid red;
  @include dimension(100%,100px);
  margin:0;
  float:left;
  padding: 10px 0;
  }
  .logo{
    @include dimension(5%, auto);
    display:block;
    margin:auto;

  }
}//desktop media query ends here
