@media screen and (min-width: 501px){
  .menu-icon{
    display: none;
  }
  .top-nav{
      background: black;
      padding: 20px;
      display: block;
    ul{
      padding: 20px;
      li{
        width:120px;
        text-align: center;

        background: whitesmoke;
        border: 1px solid yellow;
        display: inline;

        a:link{
          color: yellow;
          // margin: 30px;
          // padding:20px;
        }
      }
    }
  }

  .banner-container{
    background: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: 100vw auto;
    height: 100vh;
    // width: 100vw;

  }
  .banner-text{
    font-size: 80px;
    color:maroon;
    text-align: center;
    margin-top: 20px;
    background: white;
    height: 100px;
    width: 70%;
    margin:auto;
  }

  .col-4{
    @include dimension(33%,auto);
    // border: 1px solid blue;
  }

}//desktop media query ends here
