*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

@media screen and (max-width: 500px){
.top-nav{
  border: 1px solid black;
  display: none;

  ul{
    li{
      list-style: none;
      height: 40px;
      width:100%;
      background: lightblue;
      border: 1px solid black;
      font-size: 1.2rem;
      font-weight: bold;
      a:link{
        color: blue;
        text-decoration: none;

      }
    }
  }
}
.menu-icon{
  font-size: 45px;
  color: blue;
  margin: 15px;
}
.active{
  display: block;
}

.col-12{
  @include dimension(100%,auto);
  border: 1px solid green;
}


}//mobile media query ends here
